@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-6" style="background-color:#EEE;">
            <h2><a class="text-dark" asp-area="" asp-controller="Sites" asp-action="Index">Sites</a></h2>
            <div>
                <p>this section will allows users, to add, edit, view and delete sites.</p>
            </div>
        </div>
        <div class="col-md-6" style="background-color:#EEE;">
            <h2><a class="text-dark" asp-area="" asp-controller="Cars" asp-action="Index">Cars</a></h2>
            <div>
                <p>this section will allows users, to add, edit, view and delete Cars.</p>
            </div>
        </div>
    </div>
</div>
